@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
  font-family: "ヒラギノ丸ゴ Pro";
  font-weight: bold;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#root {
  width: 100%;
  height: 5000px;
  background-color: linen;
}

#content {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

header {
  width: 80%;
  height: 100px;
  background-color: gainsboro;
  margin: 0 auto;
  position: relative;

  & .headerContent {
    width: 95%;
    height: 95%;
    margin: 0 auto;
  }
}

.userProfile {
  display: inline-block;
  height: 100px;
  width: 30%;
  background-color: lightgoldenrodyellow;

  & div {
    display: inline-block;
  }

  & img {
    display: inline-block;
    height: 80px;
    width: 80px;
  }

  & p {
    text-align: center;
    margin: 0;
  }
}

.userSelect {
  display: inline-block;
  position: absolute;
  top: 40px;
  margin-left: 30px;
}

.postBody {
  width: 80%;
  background-color: lightskyblue;
  height: 200px;
  margin: auto auto;
  position: relative;

  & .postSideBar {
    width: 30%;
    display: inline-block;

    & .postDrop {
      margin: 0 auto;
    }
    & .postUserProfile {
      display: inline-block;
      height: 150px;
      background-color: lightsteelblue;

      & img {
        display: inline-block;
        margin: 0 50px;
        height: 80px;
        width: 80px;
      }

      & p {
        text-align: center;
        margin: 0;
      }
    }
  }

  & .postForm {
    display: inline-block;
    height: 90%;
    width: 70%;
    position: absolute;
    top: 10px;

    & textarea {
      resize: none;
      width: 90%;
      height: 80%;
      margin-bottom: 10px;
    }

    & Button {
      margin: 0 auto;
    }
  }
}

.postList {
  width: 75%;
  margin: 0 auto;
  background-color: lightsalmon;
  border-radius: 100px;
}

.listItem {
  width: 100%;
  height: 200px;
  border-radius: 2px;
}

.listSidebar {
  height: 100px;
  width: 40%;
  float: left;
}

.listContent {
  width: 30%;
  display: inline-block;

  img {
    display: inline-block;
    width: 100px;
  }
}

#yajirusi {
  width: 70px;
  margin-bottom: 80px;
}

.textArea {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;

  .text {
    width: 100%;
    height: 85%;
    background-color: floralwhite;
    word-break: normal;

    p {
      word-break: break-all;
    }
  }

  .sub {
    text-align: right;
    width: 100%;
    height: 15%;
    position: relative;

    button {
      margin-right: 30px;
    }

    span {
      margin-right: 10px;
    }
  }
}

.favs_box {
  display: none;
  position: absolute;
  right: 50%;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: lightpink;
  color: white;
}

.favs_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: lightpink;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.xxx:hover + .favs_box {
  display: block;
  color: white;
  z-index: 3;
}
