@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
 }

#root {
  width: 100%;
  height: 100%;
  background-color: linen;
}

#content {
  margin-bottom: 20px;
}

header {
  width: 90%;
  height: 150px;
  background-color: gainsboro;
  margin: 0 auto;
  position: relative;

  & .headerContent {
    width: 95%;
    height: 95%;
    margin: 0 auto;
  }
}

.userProfile {
  display: inline-block;
  height: 150px;
  width: 30%;
  background-color: lightgoldenrodyellow;

  & img {
    display: inline-block;
    height: 80px;
    width: 80px;
  }

  & p {
    text-align: center;
    margin: 0;
  }
}

.userSelect {
  display: inline-block;
  position: absolute;
  top: 40px;
  margin-left: 30px;
}

.postBody {
  width: 90%;
  background-color: lightskyblue;
  height: 200px;
  margin: auto auto;
  position: relative;

  & .postSideBar {
    width: 30%;
    display: inline-block;

    & .postDrop {
      margin: 0 auto;
    }
    & .postUserProfile {
      display: inline-block;
      height: 150px;
      background-color: lightsteelblue;

      & img {
        display: inline-block;
        margin: 0 50px;
        height: 80px;
        width: 80px;
      }

      & p {
        text-align: center;
        margin: 0;
      }
    }
  }

  & .postForm {
    display: inline-block;
    height: 90%;
    width: 70%;
    position: absolute;
    top: 10px;

    & textarea {
      resize: none;
      width: 90%;
      height: 80%;
      margin-bottom: 10px;
    }

    & Button {
      margin: 0 auto;
    }
  }
}

.postList {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: lightsalmon;

  .listItem {
    
    height: 100%;

    .listSidebar {

      height: 200px;
      width: 40%;
      display: inline-block;
    
      & .listContent {
        vertical-align: top;
        width: 33%;
        height: 130px;
        margin: auto 0;
        display: inline-block;
  
        & img {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
  
      #yajirusi {
        
      }
  
    }
  
  
    .Text {
      display: inline-block;
      width: 60%;
      height: 100%;
      background-color: floralwhite;
      & .postText {
      
      }
    }
  }
}
